* {
    margin: 0;
    padding: 0;
}

.fira-sans-normal {
    font-family: "Fira Sans", serif;
    font-weight: 400;
    font-style: normal;
}

body{
    background-color: #F5F5F5;
}

/*hero section nav styles */
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 31px 160px;
    background-color: #F5F5F5;
}
nav h3{
    font-size: 32px;
}
nav button{
    padding: 15px 30px;
    font-weight: 400px;
    color: #006A50;
    background-color: #F5F5F5;
    border-radius: 8px;
    border-radius: 1px solid #006A50;
    font-size: 18px;
}
nav button:hover{
    color: #FFFFFF;
    background-color: #006A50;
}


/*hero section banner nav styles */
.hero-section-subtitle{
    font-size: 24px;
    font-weight: 300px;
    color: rgba(14, 14, 14, 0.5);
}
.hero-section-title{
    font-size: 56px;
    font-weight:bold;
    color: #0E0E0E;
    margin: 16px 0px 24px;
}
.hero-section-content{
    display: flex;
    align-items: center;
    gap: 64px;
    border-radius: 24px;
    padding: 117px 59.99px;
    margin: 0px 160px 80px 160px;
    background-color: #C6E4D6;
}
.hero-section-btn{
    padding: 17px 34px;
    background-color: #006A50;
    border: none;
    color: #FFFFFF;
    border-radius: 8px;
    font-size: 18px;
}
.hero-section-btn:hover{
    background-color: #FFFFFF;
    border: 2px solid #006A50;
    color: #006A50;
}

/*The Vision of Future style*/
.section-title{
    font-size: 40px;
    font-weight: bold;
 }
.section-description, .subsection-description{
    color: rgba(14, 14, 14, 0.7);
    line-height: 24px;
 }
.section-description{
     margin-top: 24px;
 }
.subsection-title{
     color: rgba(14, 14, 14, 0.8);
     font-size: 20px;
     margin: 24px 0px 12px;
 }
.Vision-of-Future{
    margin: 0px 160px 80px 160px;
}
.Vision-of-Future-cards{
    display: flex;
    gap: 24px;
    justify-content: center;
}
.Vision-of-Future-card{
    width: 410.67px;
    padding: 32px;
    margin-top: 32px;
    border-radius: 16px;
}
.Vision-of-Future-card-bg-colour1{
    background-color: rgba(84, 144, 245, 0.2);
}
.Vision-of-Future-card-bg-colour2{
    background-color: #C6E4D6;
}
.Vision-of-Future-card-bg-colour3{
    background-color: #F7EBCF;
}
.Vision-of-Future-btn{
    padding: 11px 20px;
    margin-top: 24px;
    color: #FFFFFF;
    border: none;
    border-radius: 8px;
}
.Vision-of-Future-btn-bg-colour1{
    background-color: #5490F5;
}

.Vision-of-Future-btn-bg-colour2{
    background-color: #09A15C;
}
.Vision-of-Future-btn-bg-colour3{
    background-color: #FFC239;
}
.Vision-of-Future-quote{
    background-image: url("assets/quote-bg.png");
    background-repeat: no-repeat;
    background-position: 25px 23px;
    padding: 48px 24px;
    margin-top: 32px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
}
.Vision-of-Future-quote-title{
    color: rgba(14, 14, 14, 0.8);
    margin-bottom: 12px;
    line-height: 24px;
}
.Vision-of-Future-quote-subtitle{
    color: rgba(14, 14, 14, 0.6);
    margin-top: 4px;
}
.Vision-of-Future-speaker{
    color: rgba(14, 14, 14, 0.8);
    font-size: 20px;
    font-weight: bold;
}

/*Recent-News-styles*/
.news{
    margin: 0px 160px 80px 160px;
}
.news-items{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 32px;
    padding: 48px;
    border-radius: 24px;
    margin-top: 32px;
    background-color: #FFFFFF;
}
.recent-img{
    border-radius: 24px;
}
.recent-title{
    font-size: 32px;
    font-weight: bold;
    color: rgba(14, 14, 14, 0.8);
}
.time-date, .recent-description{
    display: flex;
    gap: 12px;
    line-height: 24px;
    margin-bottom: 12px;
    color: rgba(14, 14, 14, 0.7);
}
.recent-logo{
    margin: 12px 0px;
}
.recent-btn{
    padding: 13px 26px;
    margin-top: 20px;
    background-color: #006A50;
    color: #FFFFFF;
    border-radius: 8px;
    border: none;
    font-size: 18px;
}
.recent-btn:hover{
    color: #006A50;
    background-color: #FFFFFF;
    border: 2px solid #006A50;
}

/* Donate Today Style */
.donate-today{
    margin: 0px 160px 80px 160px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.donate-today-container{
    display: flex;
    justify-content: center;
    gap: 24px;
    margin-top: 32px;
}
.amount-container{
    padding: 40px;
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    border-radius: 16px;
    font-size: 35px;
    font-weight: bold;
}
.amount-container:hover{
    background-color: #C6E4D6;
}
.selected-amount-container{
    background-color: #C6E4D6;
}
.donate-today-input{
    text-align: center;
    color: rgba(14, 14, 14, 0.3);
    background-color: #FFFFFF;
    border: 1px solid rgba(14, 14, 14, 0.15);
    padding: 20px 422.5px;
    margin: 32px 0px;
}
.donate-today-btn{
    padding: 17px 34px;
    background-color: #006A50;
    color: #FFFFFF;
    font-size: 18px;
    border-radius: 8px;
    border: none;
}
.donate-today-btn:hover{
    background-color: #FFFFFF;
    border: 2px solid #006A50;
    color: #006A50;
}
